/* Спільні css */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --logo-text-color-header: #000000;
  --third-bg-color: #f5f4fa;
  --secondary-bg-color: #2f303a;
  --contacts-text-color: rgba(255, 255, 255, 0.6);

  --logo-font-size: 26px;
  --hero-font-size: 44px;
  --primary-font-size: 14px;
  --secondary-font-size: 16px;
  --section-title-font-size: 36px;
  --projects-title-font-size: 18px;

  --primary-letter-spacing: 0.03em;
  --nav-letter-spacing: 0.02em;
  --hero-letter-spacing: 0.06em;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: var(--primary-font-size);
  letter-spacing: var(--primary-letter-spacing);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

/* Header */

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

/* Logo */

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-size: var(--logo-font-size);
  line-height: 1.19;
  text-decoration: none;
}

.logo-header {
  color: var(--logo-text-color-header);
}

.list {
  list-style: none;
}

/* site nav */

.site-nav {
  display: flex;
  column-gap: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: var(--nav-letter-spacing);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Contacts */

.contacts {
  display: flex;
}

.contact-mail {
  margin-right: 50px;
}

.contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: var(--primary-font-size);
  line-height: 1.14;
  letter-spacing: var(--nav-letter-spacing);
  text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Cтудія */

/* Hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--secondary-bg-color);
  letter-spacing: var(--hero-letter-spacing);
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;

  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: var(--hero-font-size);
  line-height: 1.36;
  text-transform: uppercase;
}

/* Button */

.button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;

  width: 216px;
  cursor: pointer;

  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: var(--secondary-font-size);
  line-height: 1.88;
  text-decoration: none;
}

/* Section */

.section {
  padding-top: 94px;
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: var(--section-title-font-size);
  line-height: 1.17;
  text-align: center;
}

.content {
  background-color: var(--third-bg-color);
}

/* Features */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features {
  display: flex;
  column-gap: 30px;
}

.features-card {
  flex-basis: calc((100%-90px) / 4);
}

.features-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  line-height: 1.71;
}

/* Work */

.work {
  display: flex;
  column-gap: 30px;
}

/* Team */

.content {
  padding-bottom: 94px;
}

.team {
  display: flex;
  column-gap: 30px;
}

.team-element {
  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team-title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: var(--secondary-font-size);
  line-height: 1.19;
  font-weight: 500;
}

.team-text {
  margin-bottom: 30px;

  font-weight: 400;
  font-size: var(--secondary-font-size);
  line-height: 1.19;
}

/* Портфоліо */

.filter {
  margin-right: auto;
  margin-left: auto;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  font-family: inherit;
  color: var(--title-text-color);
  background-color: var(--third-bg-color);
  font-weight: 500;
  font-size: var(--secondary-font-size);
  line-height: 1.63;
  text-align: center;
  letter-spacing: var(--primary-letter-spacing);
  text-decoration: none;
}

.filter:hover,
.filter:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

.button-current {
  padding-right: 25px;
  padding-left: 25px;

  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

/* Projects */

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects .link {
  text-decoration: none;
}

.filter-projects {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  margin-bottom: 34px;
}

.projects-border {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects-title {
  color: var(--title-text-color);
  font-size: var(--projects-title-font-size);
  line-height: 2;
  letter-spacing: var(--hero-letter-spacing);
}

.projects-text {
  margin-top: 4px;

  color: var(--primary-text-color);
  font-size: var(--secondary-font-size);
  line-height: 1.88;
}

/* Footer */

.footer {
  background-color: var(--secondary-bg-color);
  letter-spacing: var(--primary-letter-spacing);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: var(--primary-bg-color);
}

.footer-list {
  margin-top: 20px;
}

.footer-element {
  margin-bottom: 9px;
}

.link-address,
.link-contact {
  color: var(--primary-bg-color);
  font-style: normal;
  font-size: var(--primary-font-size);
  line-height: 1.71;
  text-decoration: none;
}

.link-contact:hover,
.link-contact:focus {
  color: var(--accent-color);
}

.link-contact {
  color: var(--contacts-text-color);
}
